button,
input[type="button"] {
  border: 1px solid @color-product;
  background: none;
  padding: @space * 0.4 @space * 1.2;
  border-radius: @border-radius;
  color: @color-product;
  transition: background 150ms, border 150ms;
  cursor: pointer;

  &:hover {
    background: #8561c530;
  }
}

// body.night {
//   button,
//   input[type="button"] {
//   }
// }
