body table#data {
  max-width: 100%;
  border-radius: @border-radius;
  border: 1px solid;
  margin: @space 0;
  border-spacing: 0;
  box-shadow: @elevation-2;

  >tr>th,
  >tr,
  >tr>td {
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
  }

  >tr>th,
  >tr>td {
    padding: @space * 0.5;
    border-bottom: 1px solid;
  }

  // table header
  >tr>th {
    line-height: 1.5;
    position: sticky;
    top: 0;

    &.can-sort {
      cursor: pointer;

      /*position: relative;*/
      &.sort-column:after {
        position: absolute;
        right: 0.2em;
        bottom: 0.2em;
        content: "↓";
      }

      &.sort-column.sort-ascending:after {
        content: "↑";
      }
    }
  }

  a.preview > img {
    margin-top: @space * 0.5;
    width: 100%;
    max-width: 320px;
  }
}

>tr>th {
  border-bottom: 1px solid black;
}

body:not(.night) {
  table#data {
    background-color: @color-foreground-day;
    border-color: @color-border-day;
    
    >tr {
      &.latest {
        background-color: rgba(@color-latest-day, 7%);
      }
      &:hover:not(:first-child) {
        background-color: rgba(@color-product-day, 10%);
      }
    }
    >tr>th {
      background-color: @color-gray-09;
    }
    >tr>th,
    >tr>td {
      border-bottom-color: @color-border-day;
    }
  }
}

body.night {
  table#data {
    background-color: @color-foreground-night;
    border-color: @color-border-night;
    
    >tr {
      &.latest {
        background-color: rgba(@color-latest-night, 10%);
      }
      &:hover:not(:first-child) {
        background-color: rgba(@color-product-night, 20%);
      }
    }
    >tr>th {
      background-color: @color-gray-02;
    }
    >tr>th,
    >tr>td {
      border-bottom-color: @color-border-night;
    }
  }
}

#table-wrap {
  overflow-x: auto;
}

body table#data.gallery {
  display: block;
  width: 100%;
  column-width: 280px;
  
  > tr:first-child {
    // hide header
    display: none;
  }
  
  > tr {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    
    a.preview > img {
      // columns can be a little wider, so stretch images
      max-width: 100%;
    }
    &:not(.latest) > td:not(:first-child) {
      // hide non-first fields unless selected
      display: none;
    }
    &.latest {
      > td {
        // hide cell borders
        border-bottom-width: 0;
      }
      > td:empty {
        // hide empty cells
        display: none;
      }
      > td:not(:first-child):before {
        // prefix with column names
        content: attr(data-column) ": ";
        font-weight: bold;
      }
    }
  }
}