* {
  box-sizing: border-box;
}
body {
  font: 12px sans-serif;
  padding: 8px;
  color: #1f2937;
  accent-color: #6d28d9;
}
body a {
  color: #3b82f6;
}
body a:visited {
  filter: brightness(125%);
}
body .has-notes {
  text-decoration-color: #6d28d9;
  -webkit-text-decoration-color: #6d28d9;
}
.toggles {
  line-height: 1;
}
.toggles input {
  vertical-align: middle;
}
.header {
  margin-bottom: 24px;
}
.header__content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-size: 24px;
  margin: 0;
  order: 1;
}
.toggles {
  display: flex;
  gap: 16px;
}
.mode-toggle {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 3.2px 9.6px;
  cursor: pointer;
  transition: background 150ms, border 150ms;
  user-select: none;
  border-radius: 4px;
  background: none;
  border: 1px solid #6d28d9;
}
.mode-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.mode-toggle .material-icons {
  font-size: 20px;
  color: #6d28d9;
  transition: all 0.2s ease-in-out;
}
.mode-toggle__text {
  color: #6d28d9;
  font-size: 12px;
}
.mode-toggle.dark-toggle .material-icons:after {
  content: "light_mode";
  font-family: "Material Icons";
}
.mode-toggle.dark-toggle input:checked + .material-icons:after {
  content: "dark_mode";
}
.mode-toggle.touch-toggle .material-icons:after {
  content: "mouse";
  font-family: "Material Icons";
}
.mode-toggle.touch-toggle input:checked + .material-icons:after {
  content: "touch_app";
}
.mode-toggle:hover {
  background: #8561c530;
}
.night .mode-toggle {
  border-color: #8b5cf6;
}
.night .mode-toggle .material-icons {
  color: #8b5cf6;
}
.night .mode-toggle__text {
  color: #8b5cf6;
}
body.night {
  background-color: #0f1419;
  color: #e5eaf2;
  accent-color: #8b5cf6;
}
body.night a {
  color: #60a5fa;
}
body.night a:visited {
  filter: brightness(125%);
}
body.night .has-notes {
  text-decoration-color: #8b5cf6;
  -webkit-text-decoration-color: #8b5cf6;
}
#filter,
#editor {
  columns: 1;
}
@media only screen and (min-width: 600px) {
  #filter,
  #editor {
    columns: 2;
  }
}
@media only screen and (min-width: 1000px) {
  #filter,
  #editor {
    columns: 3;
  }
}
@media only screen and (min-width: 1400px) {
  #filter,
  #editor {
    columns: 4;
  }
}
#share-field {
  display: none;
}
h1,
h2 {
  margin-bottom: 16px;
}
.tag-options[column-count="2"] {
  columns: 2;
}
.tag-options[column-count="3"] {
  columns: 3;
}
body.rowstag .if-colstag {
  display: none;
}
body.forties .if-colstag {
  display: none;
}
body:not(.rowstag) .if-rowstag {
  display: none;
}
body:not(.forties) .if-forties {
  display: none;
}
input[invalid] {
  outline: 2px solid #dc2626;
}
.has-notes {
  cursor: help;
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
}
.numrow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.numrow > label {
  min-width: 5em;
}
.numrow input[type="number"] {
  width: 4em;
  margin: 0 0.3em;
}
.numrow input[type="range"] {
  width: 3em;
  flex-grow: 1;
  max-width: 10em;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
.material-icons--small {
  font-size: 18px;
}
.material-icons--large {
  font-size: 36px;
}
.material-icons--inline {
  margin: -0.2em 0.2em 0;
}
textarea {
  width: 100%;
  resize: vertical;
}
body table#data {
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid;
  margin: 8px 0;
  border-spacing: 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
body table#data > tr > th,
body table#data > tr,
body table#data > tr > td {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
body table#data > tr > th,
body table#data > tr > td {
  padding: 4px;
  border-bottom: 1px solid;
}
body table#data > tr > th {
  line-height: 1.5;
  position: sticky;
  top: 0;
}
body table#data > tr > th.can-sort {
  cursor: pointer;
  /*position: relative;*/
}
body table#data > tr > th.can-sort.sort-column:after {
  position: absolute;
  right: 0.2em;
  bottom: 0.2em;
  content: "↓";
}
body table#data > tr > th.can-sort.sort-column.sort-ascending:after {
  content: "↑";
}
body table#data a.preview > img {
  margin-top: 4px;
  width: 100%;
  max-width: 320px;
}
 > tr > th {
  border-bottom: 1px solid black;
}
body:not(.night) table#data {
  background-color: #ffffff;
  border-color: #e5e7eb;
}
body:not(.night) table#data > tr.latest {
  background-color: rgba(37, 99, 235, 0.07);
}
body:not(.night) table#data > tr:hover:not(:first-child) {
  background-color: rgba(109, 40, 217, 0.1);
}
body:not(.night) table#data > tr > th {
  background-color: #f9fafb;
}
body:not(.night) table#data > tr > th,
body:not(.night) table#data > tr > td {
  border-bottom-color: #e5e7eb;
}
body.night table#data {
  background-color: #1a1f24;
  border-color: #1f2937;
}
body.night table#data > tr.latest {
  background-color: rgba(96, 165, 250, 0.1);
}
body.night table#data > tr:hover:not(:first-child) {
  background-color: rgba(139, 92, 246, 0.2);
}
body.night table#data > tr > th {
  background-color: #0f1419;
}
body.night table#data > tr > th,
body.night table#data > tr > td {
  border-bottom-color: #1f2937;
}
body:not(.night) table#data {
  background-color: #ffffff;
  border-color: #e5e7eb;
}
body:not(.night) table#data > tr:first-child {
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}
body:not(.night) table#data > tr:not(:first-child).latest {
  background-color: rgba(37, 99, 235, 0.07);
}
body:not(.night) table#data > tr:not(:first-child):hover {
  background-color: #f3f4f6;
}
body:not(.night) table#data > tr > td {
  border-bottom-color: rgba(229, 231, 235, 0.5);
}
body.night table#data {
  background-color: #1a1f24;
  border-color: #1f2937;
}
body.night table#data > tr:first-child {
  background-color: #0f1419;
  border-bottom: 1px solid #1f2937;
}
body.night table#data > tr:not(:first-child).latest {
  background-color: rgba(96, 165, 250, 0.1);
}
body.night table#data > tr:not(:first-child):hover {
  background-color: #374151;
}
body.night table#data > tr > td {
  border-bottom-color: rgba(31, 41, 55, 0.5);
}
#table-wrap {
  overflow-x: auto;
}
body table#data.gallery {
  display: block;
  width: 100%;
  column-width: 280px;
}
body table#data.gallery > tr:first-child {
  display: none;
}
body table#data.gallery > tr {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
}
body table#data.gallery > tr a.preview > img {
  max-width: 100%;
}
body table#data.gallery > tr:not(.latest) > td:not(:first-child) {
  display: none;
}
body table#data.gallery > tr.latest > td {
  border-bottom-width: 0;
}
body table#data.gallery > tr.latest > td:empty {
  display: none;
}
body table#data.gallery > tr.latest > td:not(:first-child):before {
  content: attr(data-column) ": ";
  font-weight: bold;
}
body details {
  border: 1px solid;
  border-radius: 4px;
  margin: 4px 0;
  break-inside: avoid;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
body details summary {
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
}
body details[open] {
  padding: 8px;
}
body details[open] > summary {
  margin-bottom: 8px;
  padding: 0;
}
body:not(.night) details {
  border-color: #e5e7eb;
  background-color: #ffffff;
}
body.night details {
  border-color: #1f2937;
  background-color: #1a1f24;
}
button,
input[type="button"] {
  border: 1px solid #6d28d9;
  background: none;
  padding: 3.2px 9.6px;
  border-radius: 4px;
  color: #6d28d9;
  transition: background 150ms, border 150ms;
  cursor: pointer;
}
button:hover,
input[type="button"]:hover {
  background: #8561c530;
}
body.night button,
body.night input[type="button"] {
  border: 1px solid #8b5cf6;
  color: #8b5cf6;
}
input[type="checkbox"],
input[type="radio"] {
  accent-color: #6d28d9;
}
.night input[type="checkbox"],
.night input[type="radio"] {
  accent-color: #8b5cf6;
}
/*
  To style the <details> elements use _details.less instead.
*/
div:has(> #clear-filters) {
  align-items: center;
  gap: 4px;
}
div#filter .item {
  width: 100%;
  padding: 2px;
  position: relative;
}
div#filter .item:hover {
  background: #f3f4f6;
}
.night div#filter .item:hover {
  background: #374151;
}
div#filter .item .toggles {
  display: flex;
  float: right;
  gap: 4px;
  position: sticky;
  top: 0;
}
div#filter .item .toggles .icon-toggle,
div#filter .item .toggles .visibility-toggle,
div#filter .item .toggles .filter-toggle {
  display: flex;
  align-items: center;
}
div#filter .item > div.name {
  flex-grow: 1;
  margin-left: 8px;
  padding: 2px 0;
}
div#filter .filters:not(:empty) {
  clear: both;
  margin: 4px 0;
  padding: 8px;
  background: #f9fafb;
  border-radius: 4px;
}
.night div#filter .filters:not(:empty) {
  background: #0f1419;
}
.table-counter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}
.icon-toggle,
.visibility-toggle,
.filter-toggle {
  position: relative;
  cursor: pointer;
}
.icon-toggle input[type="checkbox"],
.visibility-toggle input[type="checkbox"],
.filter-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.icon-toggle .material-icons,
.visibility-toggle .material-icons,
.filter-toggle .material-icons {
  color: #9ca3af;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}
.icon-toggle input:checked + .material-icons,
.visibility-toggle input:checked + .material-icons,
.filter-toggle input:checked + .material-icons {
  color: #6d28d9;
}
.icon-toggle:hover .material-icons,
.visibility-toggle:hover .material-icons,
.filter-toggle:hover .material-icons {
  color: #1f2937;
}
.icon-toggle:hover input:checked + .material-icons,
.visibility-toggle:hover input:checked + .material-icons,
.filter-toggle:hover input:checked + .material-icons {
  filter: brightness(110%);
}
.icon-toggle input:disabled + .material-icons,
.visibility-toggle input:disabled + .material-icons,
.filter-toggle input:disabled + .material-icons {
  opacity: 0.5;
  cursor: not-allowed;
}
.night .icon-toggle .material-icons,
.night .visibility-toggle .material-icons,
.night .filter-toggle .material-icons {
  color: #4b5563;
}
.night .icon-toggle input:checked + .material-icons,
.night .visibility-toggle input:checked + .material-icons,
.night .filter-toggle input:checked + .material-icons {
  color: #8b5cf6;
}
.night .icon-toggle:hover .material-icons,
.night .visibility-toggle:hover .material-icons,
.night .filter-toggle:hover .material-icons {
  color: #e5eaf2;
}
.night .icon-toggle:hover input:checked + .material-icons,
.night .visibility-toggle:hover input:checked + .material-icons,
.night .filter-toggle:hover input:checked + .material-icons {
  filter: brightness(110%);
}
.visibility-toggle .material-icons:after {
  content: 'visibility_off';
  font-family: 'Material Icons';
}
.visibility-toggle input:checked + .material-icons:after {
  content: 'visibility';
}
.filter-toggle .material-icons:after {
  content: 'filter_list_off';
  font-family: 'Material Icons';
}
.filter-toggle input:checked + .material-icons:after {
  content: 'filter_list';
}
.filter-legend {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
  padding: 8px;
  background: rgba(109, 40, 217, 0.02);
  border-radius: 4px;
}
.night .filter-legend {
  background: rgba(139, 92, 246, 0.05);
}
.filter-legend__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.filter-legend__text {
  font-size: 12px;
}
.filter-legend .icon-toggle,
.filter-legend .visibility-toggle,
.filter-legend .filter-toggle {
  cursor: default;
}
.filter-legend .icon-toggle input:disabled + .material-icons,
.filter-legend .visibility-toggle input:disabled + .material-icons,
.filter-legend .filter-toggle input:disabled + .material-icons {
  color: #6d28d9;
}
.night .filter-legend .icon-toggle input:disabled + .material-icons,
.night .filter-legend .visibility-toggle input:disabled + .material-icons,
.night .filter-legend .filter-toggle input:disabled + .material-icons {
  color: #8b5cf6;
}
details#editor-outer details {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
details#editor-outer textarea {
  max-width: 100%;
  resize: vertical;
  font-size: 12px;
}
details#editor-outer textarea#editor-output {
  margin-top: 8px;
  font-family: "Courier New", Courier, monospace;
}
details#editor-outer div.name {
  margin-top: 8px;
}
details#editor-outer .filters.range {
  display: flex;
  width: 100%;
}
details#editor-outer .filters.range > input {
  flex-grow: 1;
  max-width: 4em;
}
.night details#editor-outer details {
  background: #0f1419;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
select {
  margin: 4px 0;
}
select:not([size]) {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
select:not([size]):hover {
  background: #f3f4f6;
}
.night select:not([size]) {
  background: #0f1419;
  border-color: #1f2937;
  color: #e5eaf2;
}
.night select:not([size]):hover {
  background: #374151;
}
select[size] {
  overflow: auto;
}
select[size] option {
  padding: 1.6px 9.6px;
}
select option {
  color: unset;
}
body:not(.night) select {
  color: #1f2937;
}
body.night select {
  color: #e5eaf2;
}
.tippy-content a {
  color: #60a5fa;
}
.tippy-content .tippy-photo {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
.tippy-content p,
.tippy-content ul,
.tippy-content pre {
  margin: 0.5em 0;
}
.tippy-content p:first-child,
.tippy-content ul:first-child {
  margin-top: 0;
}
.tippy-content p:last-child,
.tippy-content ul:last-child {
  margin-bottom: 0;
}
.tippy-content ul {
  padding-left: 1em;
}
.tippy-content p.img {
  text-align: center;
  font-size: 85%;
}
.tippy-content p.img img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  outline: 1px solid currentColor;
}
.tippy-content pre,
.tippy-content code {
  font-size: 90%;
  background: rgba(0, 0, 0, 0.8);
}
.tippy-content pre {
  padding: 0.2em;
  border-radius: 0.3em;
}
.tippy-content code {
  padding: 0.1em 0.1em;
}
.tippy-content table {
  border-spacing: 0;
}
.tippy-content table.links .flags {
  text-align: right;
}
.tippy-content table.links .variants {
  padding-left: 0.3em;
}
.tippy-content button,
.tippy-content input[type="button"] {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}
body.touch input[type="text"],
body.touch input[type="number"],
body.touch textarea,
body.touch #filter textarea,
body.touch #editor textarea,
body.touch #editor-outer textarea,
body.touch select {
  font-size: 16px;
}
body.touch table#data > tr > td:first-child > a {
  display: inline-block;
  padding: 0.5em;
}
body.touch div#filter .item > label,
body.touch #editor .item > label {
  padding: 0.5em;
}
body.touch div#filter .item > label > input[type="checkbox"],
body.touch #editor .item > label > input[type="checkbox"] {
  transform: scale(1.5);
  vertical-align: middle;
}
body.touch div#filter .item .column-name,
body.touch #editor .item .column-name {
  display: inline-block;
  padding: 0.5em 0;
}
body.touch div#filter .tag-options label,
body.touch #editor .tag-options label {
  padding: 0.5em;
  display: block;
}
body.touch div#filter .tag-options label > input[type="checkbox"],
body.touch #editor .tag-options label > input[type="checkbox"] {
  transform: scale(1.5);
  vertical-align: middle;
}
body.touch div#filter .tag-options label > input[type="checkbox"],
body.touch #editor .tag-options label > input[type="checkbox"] {
  margin-right: 0.5em;
}
body.touch div#filter .filters.range,
body.touch #editor .filters.range {
  font-size: 16px;
}
body.touch div#filter .filters.number label,
body.touch #editor .filters.number label {
  padding: 0.5em;
  min-width: 6em;
}
body.touch div#filter .filters.number label > input[type="checkbox"],
body.touch #editor .filters.number label > input[type="checkbox"] {
  transform: scale(1.5);
  vertical-align: middle;
}
body.touch div#filter .filters.number label > input[type="checkbox"],
body.touch #editor .filters.number label > input[type="checkbox"] {
  margin-right: 0.5em;
}
