body {
  font: 15px sans-serif;
}
#data {
  border: 1px solid #ddd;
}
table {
  width: 100%;
}
th,
td {
  text-align: left;
  vertical-align: top;
}
#filter,
#editor {
  columns: 1;
  margin-bottom: 0.5em;
}
#filter > details,
#editor > details {
  border: 1px solid #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.3em;
  break-inside: avoid;
}
#filter .item,
#editor .item {
  display: flex;
  align-items: start;
}
.has-notes {
  cursor: help;
  text-decoration: underline;
}
@media only screen and (min-width: 600px) {
  #filter,
  #editor {
    columns: 2;
  }
}
@media only screen and (min-width: 1000px) {
  #filter,
  #editor {
    columns: 3;
  }
}
#editor-outer {
  margin-top: 1em;
}
#editor-outer > summary {
  font-size: 125%;
  font-weight: bold;
}
#editor-outer > input {
  margin: 0.5em 0;
}
#editor-outer .item {
  margin: 0.25em 0;
  width: 100%;
}
#editor-outer .item > .name {
  flex-grow: 1;
}
#editor-outer textarea {
  width: 100%;
  resize: vertical;
}
#editor-outer .filters.range {
  display: flex;
  width: 100%;
  margin-top: 0.15em;
}
#editor-outer .filters.range > input {
  flex-grow: 1;
  max-width: 4em;
}
#data {
  margin-top: 0.5em;
  border-spacing: 0;
}
#data td,
#data th {
  padding: 2px;
}
#data th.can-sort {
  cursor: pointer;
  position: relative;
}
#data th.can-sort.sort-column:after {
  position: absolute;
  right: 0.2em;
  content: "↓";
}
#data th.can-sort.sort-column.sort-ascending:after {
  content: "↑";
}
#data td {
  border-top: 1px solid #ddd;
}
#data tr.latest {
  background-color: #374bff10;
}
#data tr:hover {
  background-color: #FFE03730;
}
input[invalid] {
  outline: 2px solid #f77;
}
body.night {
  background-color: #405070;
  color: white;
}
body.night a,
.tippy-content a {
  color: #9DEC76;
}
body.night a:visited,
.tippy-content a:visited {
  color: #7ef0ff;
}
body.night #filter details,
.tippy-content #filter details {
  border-color: #a5b5ce;
}
body.night #data,
.tippy-content #data {
  border-color: #a5b5ce;
}
body.night #data td,
.tippy-content #data td {
  border-color: #a5b5ce;
}
body.night #data tr.latest,
.tippy-content #data tr.latest {
  background-color: #37ff6919;
}
body.night #data tr:hover,
.tippy-content #data tr:hover {
  background-color: #3794ff30;
}
.tippy-content .tippy-photo {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
.tippy-content p,
.tippy-content ul,
.tippy-content pre {
  margin: 0.5em 0;
}
.tippy-content p:first-child,
.tippy-content ul:first-child {
  margin-top: 0;
}
.tippy-content p:last-child,
.tippy-content ul:last-child {
  margin-bottom: 0;
}
.tippy-content ul {
  padding-left: 1em;
}
.tippy-content p.img {
  text-align: center;
  font-size: 85%;
}
.tippy-content p.img img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  outline: 1px solid currentColor;
}
.tippy-content pre,
.tippy-content code {
  font-size: 90%;
  background: rgba(0, 0, 0, 0.8);
}
.tippy-content pre {
  padding: 0.2em;
  border-radius: 0.3em;
}
.tippy-content code {
  padding: 0.1em 0.1em;
}
#share-field {
  flex-grow: 1;
  margin-left: 0.25em;
  display: none;
}
img.flag {
  vertical-align: middle;
  margin-top: -1px;
}
