body {
    font: 15px sans-serif;
}
#data {
	border: 1px solid #ddd;
}
table {
	width: 100%;
}
th, td {
	text-align: left;
	vertical-align: top;
}
#filter, #editor {
	columns: 1;
	margin-bottom: 0.5em;
	> details {
		border: 1px solid #ddd;
		padding-left: 0.5em;
		padding-right: 0.5em;
		margin-bottom: 0.3em;
		break-inside: avoid;
	}
	.item {
		display: flex;
		align-items: start;
	}
}
.has-notes {
	cursor: help;
	text-decoration: underline;
}
@media only screen and (min-width: 600px) {
	#filter, #editor {
		columns: 2;
	}
}
@media only screen and (min-width: 1000px) {
	#filter, #editor {
		columns: 3;
	}
}
#editor-outer {
	margin-top: 1em;
	&>summary {
		font-size: 125%;
		font-weight: bold;
	}
	&>input {
		margin: 0.5em 0;
	}
	.item {
		margin: 0.25em 0;
		width: 100%;
		> .name {
			flex-grow: 1;
		}
	}
	textarea {
		width: 100%;
		resize: vertical;
	}
	.filters.range {
		display: flex;
		width: 100%;
		margin-top: 0.15em;
		>input {
			flex-grow: 1;
			max-width: 4em;
		}
	}
}
#data {
	margin-top: 0.5em;
	border-spacing: 0;
	td, th {
		padding: 2px;
	}
	th.can-sort {
		cursor: pointer;
		position: relative;
		&.sort-column:after {
			position: absolute;
			right: 0.2em;
			content: "↓";
		}
		&.sort-column.sort-ascending:after {
			content: "↑";
		}
	}
	td {
		border-top: 1px solid #ddd;
	}
	tr.latest {
		background-color: #374bff10;
	}
	tr:hover {
		background-color: #FFE03730;
	}
}
input[invalid] {
	outline: 2px solid #f77;
}
body.night {
	background-color: #405070;
	color: white;
	
}
body.night, .tippy-content {
	@border: #a5b5ce;
	a {
		color: #9DEC76;
		&:visited {
			color: #7ef0ff;
		}
	}
	#filter {
		details {
			border-color: @border;
		}
	}
	#data {
		border-color: @border;
		td {
			border-color: @border;
		}
		tr.latest {
			background-color: #37ff6919;
		}
		tr:hover {
			background-color: #3794ff30;
		}
	}
}
.tippy-content {
	.tippy-photo {
		max-width: 100%;
		height: auto;
		border-radius: 3px;
	}
	p, ul {
		margin: 0.5em 0;
		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}
	ul {
		padding-left: 1em;
	}
	p.img {
		text-align: center;
		font-size: 85%;
		img {
			max-width: 100%;
			height: auto;
			border-radius: 3px;
			outline: 1px solid currentColor;
		}
	}
}