/* NB! Edit style.less, not the compiled style.css */
body {
  font: 15px sans-serif;
  overflow: auto;
}
table {
  width: 100%;
}
th,
td {
  text-align: left;
  vertical-align: top;
}
body:not(.rowstag) .if-rowstag {
  display: none;
}
body.rowstag .if-colstag {
  display: none;
}
#filter,
#editor {
  columns: 1;
  margin-bottom: 0.5em;
}
#filter > details,
#editor > details {
  border: 1px solid #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.3em;
  break-inside: avoid;
}
#filter .note,
#editor .note {
  line-height: 1.25;
}
#filter .item,
#editor .item {
  display: flex;
  align-items: start;
  width: 100%;
}
#filter .item > div,
#editor .item > div {
  flex-grow: 1;
}
#filter .numrow {
  display: flex;
  flex-wrap: wrap;
}
#filter .numrow > label {
  min-width: 5em;
}
#filter .numrow input[type="number"] {
  width: 4em;
  margin: 0 0.3em;
}
#filter .numrow input[type="range"] {
  width: 3em;
  flex-grow: 1;
  max-width: 10em;
}
.has-notes {
  cursor: help;
  text-decoration: underline;
}
@media only screen and (min-width: 600px) {
  #filter,
  #editor {
    columns: 2;
  }
}
@media only screen and (min-width: 1000px) {
  #filter,
  #editor {
    columns: 3;
  }
}
@media only screen and (min-width: 1400px) {
  #filter,
  #editor {
    columns: 4;
  }
}
.tag-options[column-count="2"] {
  columns: 2;
}
.tag-options[column-count="3"] {
  columns: 3;
}
#editor-outer {
  margin-top: 1em;
}
#editor-outer > summary {
  font-size: 125%;
  font-weight: bold;
}
#editor-outer > input {
  margin: 0.5em 0;
}
#editor-outer .item {
  margin: 0.25em 0;
  width: 100%;
}
#editor-outer .item > .name {
  flex-grow: 1;
}
#editor-outer textarea {
  width: 100%;
  resize: vertical;
}
#editor-outer .filters.range {
  display: flex;
  width: 100%;
  margin-top: 0.15em;
}
#editor-outer .filters.range > input {
  flex-grow: 1;
  max-width: 4em;
}
#data {
  border: 1px solid #ddd;
  position: relative;
  margin-top: 0.5em;
  border-spacing: 0;
}
#data th.can-sort {
  cursor: pointer;
  /*position: relative;*/
}
#data th.can-sort.sort-column:after {
  position: absolute;
  right: 0.2em;
  bottom: 0.2em;
  content: "↓";
}
#data th.can-sort.sort-column.sort-ascending:after {
  content: "↑";
}
#data > tr > td,
#data > tr > th {
  padding: 2px;
  border-bottom: 1px solid #ddd;
}
#data > tr > th {
  line-height: 1.5;
  position: sticky;
  top: 0;
  background-color: #F6F8FA;
}
#data > tr:last-child > td,
#data > tr:last-child > th {
  border-bottom: none;
}
#data tr.latest {
  background-color: #374bff10;
}
#data tr:hover {
  background-color: #FFE03730;
}
#data a.preview img {
  margin-top: 0.3em;
  display: block;
  width: 100%;
  max-width: 320px;
}
input[invalid] {
  outline: 2px solid #f77;
}
body.night {
  background-color: #405070;
  color: white;
}
body.night a,
.tippy-content a {
  color: #9DEC76;
}
body.night a:visited,
.tippy-content a:visited {
  color: #7ef0ff;
}
body.night #filter details,
.tippy-content #filter details {
  border-color: #a5b5ce;
}
body.night #data,
.tippy-content #data {
  border-color: #a5b5ce;
}
body.night #data td,
.tippy-content #data td {
  border-color: #a5b5ce;
}
body.night #data tr.latest,
.tippy-content #data tr.latest {
  background-color: #37ff6919;
}
body.night #data tr:hover,
.tippy-content #data tr:hover {
  background-color: #3794ff30;
}
body.night #data > tr > th,
.tippy-content #data > tr > th {
  background-color: #596987;
}
.tippy-content .tippy-photo {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
.tippy-content p,
.tippy-content ul,
.tippy-content pre {
  margin: 0.5em 0;
}
.tippy-content p:first-child,
.tippy-content ul:first-child {
  margin-top: 0;
}
.tippy-content p:last-child,
.tippy-content ul:last-child {
  margin-bottom: 0;
}
.tippy-content ul {
  padding-left: 1em;
}
.tippy-content p.img {
  text-align: center;
  font-size: 85%;
}
.tippy-content p.img img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  outline: 1px solid currentColor;
}
.tippy-content pre,
.tippy-content code {
  font-size: 90%;
  background: rgba(0, 0, 0, 0.8);
}
.tippy-content pre {
  padding: 0.2em;
  border-radius: 0.3em;
}
.tippy-content code {
  padding: 0.1em 0.1em;
}
.tippy-content table {
  border-spacing: 0;
}
.tippy-content table.links .flags {
  text-align: right;
}
.tippy-content table.links .variants {
  padding-left: 0.3em;
}
#share-field {
  flex-grow: 1;
  margin-left: 0.25em;
  display: none;
}
img.flag {
  vertical-align: middle;
  margin-top: -1px;
}
